*:not(dialog) {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #000;
  height: 100vh;
  overflow: hidden;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  transform: scale(2);

  font-family: Arial, Helvetica, sans-serif;
}

#canvas {
  background-color: #fff;
  image-rendering: pixelated;
  height: 342px;
  width: 342px;
}

header {
  width: 342px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header h1 {
  color: #fff;
}
header button {
  padding: 5px 15px;
}

dialog {
  border: unset;
  border-radius: 10px;
}
dialog::backdrop {
  background: rgba(0,0,0,.6);
  backdrop-filter: blur(6px);
}
button {
  border: unset;
  border-radius: 10px;
}

form > * {
  display: block;
}
form label + * {
  margin-bottom: 15px;
}
form button {
  width: 100%;
  padding: 10px 15px;
}

#pause button {
  font-size: 25px;
  padding: 15px 30px;
}

#gameover button {
  font-size: 20px;
  width: 100%;
  padding: 10px;
  margin-top: 10px
}

[type="color"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 60px;
  height: 30px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
[type="color"]::-webkit-color-swatch {
  border-radius: 5px;
  border: none;
}
[type="color"]::-moz-color-swatch {
  border-radius: 5px;
  border: none;
}
