* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  height: 100vmin;
  display: flex;
  justify-content: center;
  align-items: center;
}

#canvas {
  border: 1px solid white;
  max-width: 100%;
  max-height: 100%;
}
